[*.cs]

file_header_template =  ---------------------------------------------------------------\nCopyright (c) Coalition of the Good-Hearted Engineers\nFREE TO USE AS LONG AS SOFTWARE FUNDS ARE DONATED TO THE POOR\n---------------------------------------------------------------
